.propaslsTab {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(225, 225, 226);
}

.search-for-proposal {
    margin-top: 5rem;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.proposal-info {
    width: 50%;
}
.proposal-id {
    margin-bottom: 2rem;
}
ul {
    line-height: 2rem;
}
.proposal-div {
    margin-top: 4rem;
    width: 40%;
    min-height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: white;
    border-radius: 0.3rem;
   
}
.buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
button {
    background-color: rgb(81, 148, 247);
    border: none;
    color: white;
    padding: 1rem;
    border-radius: 0.3rem;
}
button:disabled{
    background-color: rgba(81, 148, 247, 0.5);
    cursor: not-allowed;
}
input {
    padding: 1rem;
    border: none;
    width: 20%;
    border-radius: 0.3rem;
}
input:focus{
   
   outline: none;
}
button:hover{
    cursor: pointer;
}
.create-div {
    padding: 4rem;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.create-btn {
    width: 10%;
    padding: 1rem;
    background-color: rgb(242, 177, 74);
  
}
.vote-btn {
    width: 60%;
}
.execute-btn {
    width: 60%;
    margin-top: 1rem;
}

.create-page {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create-page.open {
    opacity: 1;
    z-index: 999;
}
.disclaimer {
    margin-bottom: 1rem;
    line-height: 1.4rem;
}

.disclaimer-executed {
    width: 50%;
    margin-left: 2rem;
    color: red;
    text-align: center;
    line-height: 2rem;
}


@media only screen and (max-width: 500px) {
    #proposal-search {
        width: 30%;
    }
    .proposal-div {
        width: 80%;
    }
    .create-btn {
        width: 25%;
    }
}